@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Prompt:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Prompt', sans-serif;
  background: #f7f2ec;
  color: #41311f;
  line-height: 1.7;
}

header {
  background: #ede4d8;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

nav {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #4a3b2a;
  font-weight: 500;
}

nav a:hover {
  color:  #868b47;
}

section {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background: #868b47;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.gallery img {
  width: 100%;
  border-radius: 14px;
}

footer {
  background: #ede4d8;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}