* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #020617;
  color: #e5e7eb;
  line-height: 1.6;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(2,6,23,0.9);
  backdrop-filter: blur(10px);
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 0.9rem;
}

.logo {
  font-weight: 700;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: radial-gradient(circle at top left, #1e293b, #020617);
}

.hero-content {
  max-width: 700px;
}

.hero h1 {
  font-size: 3.2rem;
  line-height: 1.2;
}

.hero h1 span {
  background: linear-gradient(90deg,#38bdf8,#a78bfa);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin-top: 20px;
  color: #cbd5f5;
}

.hero-btns {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

/* BUTTON */
.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn.primary {
  background: #38bdf8;
  color: #020617;
}

.btn.ghost {
  border: 1px solid #38bdf8;
  color: #38bdf8;
  background: transparent;
}


/* SECTION */
.section {
  padding: 100px 10%;
  background: #0b1220; /* สีใหม่ให้ตัด */
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

.dark {
  background: #020617;
}


.section h2 {
  margin-bottom: 20px;
}

/* SKILLS */
.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #38bdf8;
  border-radius: 20px;
  font-size: 0.85rem;
}

/* PORTFOLIO */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.card:hover {
  transform: translateY(-12px) scale(1.02);
  border-color: #38bdf8;
}

.card p {
  font-size: 0.9rem;
  color: #cbd5f5;
}

.tag {
  display: inline-block;
  margin-top: 15px;
  font-size: 0.75rem;
  color: #38bdf8;
}

.project-link {
  color: #38bdf8;
  font-size: 0.85rem;
  text-decoration: none;
}

/* FORM */
form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.line {
  margin-top: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  nav {
    padding: 15px 5%;
  }

  .hero {
    padding: 0 5%;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero-btns {
    flex-direction: column;
  }
}
